// Custom colours
$clr-primary: #1b1b1b;
$clr-primary-dark: #1b1b1b;
$clr-black: #1f1f1f;
$clr-black-2: #1b1b1b;

$clr-grey: #f6f6f6;
$clr-grey-2: #c4c4c4;
$clr-grey-3: #eaeaea;
$clr-grey-4: #414141;
$clr-grey-5: #2d2d2d;
$box-shadow: 0px 3px 6px #0000000a;

// Bulma overrides
$primary: $clr-primary;
$family-sans-serif: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
